ALTER TABLE public.chat_participants ADD COLUMN wallpaper_url TEXT;
ALTER TABLE public.chat_participants ADD COLUMN wallpaper_dim FLOAT DEFAULT 0;
ALTER TABLE public.chat_participants ADD COLUMN wallpaper_blur FLOAT DEFAULT 0;
ALTER TABLE public.chat_participants ADD COLUMN wallpaper_zoom FLOAT DEFAULT 1;
ALTER TABLE public.chat_participants ADD COLUMN font_family TEXT DEFAULT 'system';
CREATE POLICY "Users can update their own chat settings" ON public.chat_participants FOR UPDATE USING (user_id = auth.uid());
